" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Installed plugins:
" IdeaVim-EasyMotion + AceJump

let mapleader=" "

" Plugins
set highlightedyank
set easymotion
set NERDTree

" General settings
set scrolloff=10
set incsearch
set ignorecase
set relativenumber number
set clipboard^=ideaput
set keymodel=startsel,stopsel

" Disable annoying bells
set visualbell
set noerrorbells

" NOPs
nnoremap <leader> <NOP>

" Remaps
map <S-u> <C-r> |" Redo with shift
map Y y$ |" Sane yank
map Q gq |" Don't use Ex mode, use Q for formatting.

" Clipboard
map <leader>y "*y
map <leader>Y "*Y
map <leader>p "*p
map <leader>P "*P

" Collapsing everything doesnt seem to work out of the box
map zr <Action>(CollapseAllRegions)
map zR <Action>(ExpandAllRegions)

" Custom motions
"" Faster movement
map <S-k> 10k
map <S-j> 10j

" Basic text manipulation
map gj <Action>(EditorJoinLines) |" Generate Join
map gs <Action>(EditorSplitLine) |" Generate Split
map gh <Action>(MoveElementLeft)
map gl <Action>(MoveElementRight)
map gd <Action>(SafeDelete)
map gq <Action>(ReformatCode)
map gcc <Action>(CommentByLineComment)
map gbc <Action>(CommentByBlockComment)
vmap v <Action>(EditorSelectWord)
vmap V <Action>(EditorUnSelectWord)

" Tabs
map <A-i> <Action>(PreviousTab)
map <A-o> <Action>(NextTab)

" IDE features

"" Shorthands - most commonly used things
map <leader>d <Action>(GotoDeclaration) |" (jump to) Declaration [shorthand]
map <leader>m <Action>(ExtractMethod) |" refactor Method [shorthand]
map <leader>v <Action>(IntroduceVariable) |" refactor Variable [shorthand]
map <leader>i <Action>(Inline) |" refactor Inline [shorthand]
map <leader>n <Action>(RenameElement) |" refactor reName [shorthand]
map <leader>u <Action>(ShowUsages) |" (jump to) Usages [shorthand]
map <leader>q <Action>(QuickJavaDoc) |" (jump to) doQumentation [shorthand]
map <leader>k <Action>(ShowIntentionActions) |" show a[K]tions [shorthand]
map <leader>h <Plug>(easymotion-s) |" [H]op

"" Basic
map <leader><CR> <Action>(ShowIntentionActions) |" alt + enter but with leader

"" Run
map <leader>ff <Action>(Run)
map <leader>fd <Action>(Debug)

"" Multicursor
map <leader>aa <Action>(EditorAddCaretPerSelectedLine)<Home>
map <leader>ak <Action>(EditorCloneCaretAbove)
map <leader>aj <Action>(EditorCloneCaretBelow)

"" IDE motions
map [M <Action>(MethodUp)
map [m <Action>(MethodDown)

map [E <Action>(GotoPreviousError)
map [e <Action>(GotoNextError)

"" Jump
map <leader>jh <Action>(GotoDeclaration) |" Jump (to)
map <leader>ji <Action>(GotoImplementation) |" Jump (to) Implementation
map <leader>js <Action>(GotoSuperMethod) |" Jump (to) Super (method)
map <leader>jt <Action>(RiderGoToLinkedTypesAction) |" Jump (to) Tests
map <leader>ju <Action>(ShowUsages) |" Jump (to) Usages
map <leader>jp <Action>(QuickPreview) |" Jump (to) Preview
map <leader>jn <Action>(ShowNavBar) |" Jump (to) Navbar
map <leader>jr <Action>(ParameterInfo) |" Jump (to) paRameter
map <leader>jq <Action>(QuickJavaDoc) |" Jump (to) doQumentation 
map <leader>jm <Action>(FileStructurePopup) |" Jump (to) Members
map <leader>jf <Action>(LocateInSolutionView) |" Jump (to) Filesystem

" Search
map <leader>ss <Action>(GotoSymbol) |" [S]earch [S]ymbol
map <leader>st <Action>(TextSearchAction) |" [S]earch [T]ext
map <leader>s. <Action>(RecentFiles) |" [S]earch recent ('.' for repeat)
map <leader>s, <Action>(RecentChangedFiles) |" [S]earch recently changed
map <leader>s/ <Action>(Switcher) |" [S]earch open files ('/' for vim search)

"" Refactor
map <leader>rr <Action>(Refactorings.QuickListPopupAction) |" Refactor
map <leader>rm <Action>(ExtractMethod) |" Refactor Method
map <leader>rv <Action>(IntroduceVariable) |" Refactor Variable
map <leader>rp <Action>(IntroduceParameter) |" Refactor Parameter
map <leader>rc <Action>(IntroduceConstant) |" Refactor Constant
map <leader>rf <Action>(IntroduceField) |" Refactor Field
map <leader>ri <Action>(Inline) |" Refactor Inline
map <leader>rn <Action>(RenameElement) |" Refactor reName

"" Generate
map <leader>gg <Action>(Generate) |" Generate
map <leader>gt <Action>(RiderGenerateUnitTestAction) |" Generate Test [copy of tg]
map <leader>gs <Action>(SurroundWith) |" Generate Surround
map <leader>gn <Action>(NewElement) |" Generate New (class, directory, file etc)

"" Build
map <leader>bb <Action>(BuildSelection) |" Build
map <leader>bw <Action>(ActivateBuildToolWindow) |" Build Window
map <leader>bs <Action>(BuildSolutionAction) |" Build Solution
map <leader>bc <Action>(CancelBuildAction) |" Build cancel BROKEN
map <leader>bl <Action>(CleanSolutionAction) |" Build cLean

"" Breakpoint
map <leader>kk <Action>(ToggleLineBreakpoint) |" breaKpoint

"" Tests
map <leader>tt <Action>(RiderUnitTestRunContextAction) |" Test
map <leader>tw <Action>(ActivateTestsToolWindow) |" Test Window
map <leader>td <Action>(RiderUnitTestDebugContextAction) |" Test Debug (this)
map <leader>ts <Action>(RiderUnitTestRunCurrentSessionAction) |" Test Session
map <leader>tr <Action>(RiderUnitTestRepeatPreviousRunAction) |" Test Repeat
map <leader>tc <Action>(RiderUnitTestSessionAbortAction) |" Test Cancel
map <leader>tf <Action>(RiderUnitTestRerunBrokenSplitAction) |" Test Generate [copy of gt]
map <leader>tg <Action>(RiderGenerateUnitTestAction) |" Test Generate [copy of gt]
map <leader>tm <Action>(Rider.UnitTesting.MainMenu) |" Test Menu

"" Editor
map <leader>eq <Action>(CloseEditor) |" Editor Quit
map <leader>eoq <Action>(CloseAllEditorsButActive) |" Editor Others Quit
map <leader>ep <Action>(PinActiveTabToggle) |" Editor Pin

"" Tool window
map <leader>wq <Action>(HideActiveWindow) |" (tool) Window Quit
map <leader>wo <Action>(JumpToLastWindow) |" (tool) Window Outer 
map <leader>wp <Action>(ActivateProblemsViewToolWindow) |" (tool) Window Problems
map <leader>wc <Action>(ActivateVersionControlToolWindow) |" (tool) Window Vcs [copy of cw]
map <leader>wt <Action>(ActivateTestsToolWindow) |" (tool) Window Test [copy of tw]
map <leader>wb <Action>(ActivateBuildToolWindow) |" (tool) Window Build [copy of bw]
map <leader>wf <Action>(ActivateFindToolWindow) |" (tool) Window Find
map <leader>ws <Action>(ActivateTerminalToolWindow) |" (tool) Window Shell
map <leader>wr <Action>(ActivateRunToolWindow) |" (tool) Window Run
map <leader>wd <Action>(ActivateDebug3) |" (tool) Window Debug [currently broken]
map <C-S-t> <Action>(ResizeToolWindowUp) |" TOOL (window)
map <C-t> <Action>(ResizeToolWindowDown) |" tool (window)

"" VCS / Git
map <leader>cw <Action>(ActivateVersionControlToolWindow) |" v[C]s [W]indow
map <leader>cc <Action>(ActivateCommitToolWindow) |" v[C]s [C]ommit
map <leader>cp <Action>(Vcs.Push) |" v[C]s Push

" Macros
" Currently none

" Vim marks & IDE bookmarks integration
map m0 <Action>(ToggleBookmark0) 
map m1 <Action>(ToggleBookmark1)
map m2 <Action>(ToggleBookmark2)
map m3 <Action>(ToggleBookmark3)
map m4 <Action>(ToggleBookmark4)
map m5 <Action>(ToggleBookmark5)
map m6 <Action>(ToggleBookmark6)
map m7 <Action>(ToggleBookmark7)
map m8 <Action>(ToggleBookmark8)
map m9 <Action>(ToggleBookmark9)
map ma <Action>(ToggleBookmarkA)
map mb <Action>(ToggleBookmarkB)
map mc <Action>(ToggleBookmarkC)
map md <Action>(ToggleBookmarkD)
map me <Action>(ToggleBookmarkE)
map mf <Action>(ToggleBookmarkF)
map mg <Action>(ToggleBookmarkG)
map mh <Action>(ToggleBookmarkH)
map mi <Action>(ToggleBookmarkI)
map mj <Action>(ToggleBookmarkJ)
map mk <Action>(ToggleBookmarkK)
map ml <Action>(ToggleBookmarkL)
map mm <Action>(ToggleBookmarkM)
map mn <Action>(ToggleBookmarkN)
map mo <Action>(ToggleBookmarkO)
map mp <Action>(ToggleBookmarkP)
map mq <Action>(ToggleBookmarkQ)
map mr <Action>(ToggleBookmarkR)
map ms <Action>(ToggleBookmarkS)
map mt <Action>(ToggleBookmarkT)
map mu <Action>(ToggleBookmarkU)
map mv <Action>(ToggleBookmarkV)
map mw <Action>(ToggleBookmarkW)
map mx <Action>(ToggleBookmarkX)
map my <Action>(ToggleBookmarkY)
map mz <Action>(ToggleBookmarkZ)

map <C-m> <Action>(ShowBookmarks)
map `0 <Action>(GotoBookmark0) 
map `1 <Action>(GotoBookmark1)
map `2 <Action>(GotoBookmark2)
map `3 <Action>(GotoBookmark3)
map `4 <Action>(GotoBookmark4)
map `5 <Action>(GotoBookmark5)
map `6 <Action>(GotoBookmark6)
map `7 <Action>(GotoBookmark7)
map `8 <Action>(GotoBookmark8)
map `9 <Action>(GotoBookmark9)
map `a <Action>(GotoBookmarkA)
map `b <Action>(GotoBookmarkB)
map `c <Action>(GotoBookmarkC)
map `d <Action>(GotoBookmarkD)
map `e <Action>(GotoBookmarkE)
map `f <Action>(GotoBookmarkF)
map `g <Action>(GotoBookmarkG)
map `h <Action>(GotoBookmarkH)
map `i <Action>(GotoBookmarkI)
map `j <Action>(GotoBookmarkJ)
map `k <Action>(GotoBookmarkK)
map `l <Action>(GotoBookmarkL)
map `m <Action>(GotoBookmarkM)
map `n <Action>(GotoBookmarkN)
map `o <Action>(GotoBookmarkO)
map `p <Action>(GotoBookmarkP)
map `q <Action>(GotoBookmarkQ)
map `r <Action>(GotoBookmarkR)
map `s <Action>(GotoBookmarkS)
map `t <Action>(GotoBookmarkT)
map `u <Action>(GotoBookmarkU)
map `v <Action>(GotoBookmarkV)
map `w <Action>(GotoBookmarkW)
map `x <Action>(GotoBookmarkX)
map `y <Action>(GotoBookmarkY)
map `z <Action>(GotoBookmarkZ)

" Collisions
sethandler <C-B> a:vim
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:vim
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:ide
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:ide
sethandler <C-S> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:ide
