@import "theme.css";

/*TODO: privacy*/
/*TODO: color invert on hover/select/whatever*/

* {
  font-family: "JetBrains Nerd Font";
  font-size: 16px;
  min-height: 0;
  border-radius: 5px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.3);
  color: #b8c0e0;
  border-radius: 0;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

/*#clock:hover,*/
/*#battery:hover,*/
/*#cpu:hover,*/
/*#memory:hover,*/
/*#disk:hover,*/
/*#temperature:hover,*/
/*#backlight:hover,*/
/*#network:hover,*/
/*#pulseaudio:hover,*/
/*#pulseaudio.muted:hover,*/
/*#wireplumber:hover,*/
/*#custom-media:hover,*/
/*#mode:hover,*/
/*#idle_inhibitor:hover,*/
/*#scratchpad:hover,*/
/*#power-profiles-daemon:hover,*/
/*#custom-power:hover,*/
/*#custom-wifi:hover,*/
/*#custom-bluetooth:hover,*/

/*#custom-logo {*/
/*  margin-left: 5px;*/
/*}*/

/*#custom-logo:hover {*/
/*  background-color: @color12;*/
/*}*/

/*#pulseaudio,*/
/*#clock,*/
/*#network,*/
/*#custom-wifi,*/
/*#custom-logo {*/
/*  padding-left: 8px;*/
/*  padding-right: 8px;*/
/*}*/

#pulseaudio,
#network,
#clock,
#custom-logo {
  padding-left: 8px;
  padding-right: 8px;
}

/*Special paddings to center icons*/
#pulseaudio,
#network,
#custom-logo {
  padding-right: 14px;
}

#pulseaudio.bluetooth {
  padding-right: 8px;
}

/*#workspaces button:hover,*/
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-logo:hover {
  color: @color11;
  background-color: @color12;
}

/**/
/*#clock,*/
/*#network,*/
/*#pulseaudio,*/
/*#bluetooth,*/
/*#custom-playerctl {*/
/*  color: #b8c0e0;*/
/*  padding: 0 12px;*/
/*  margin: 0 2px;*/
/*}*/
/**/
/**/
/*#hyprland-workspaces button {*/
/*  color: #b8c0e0;*/
/*  padding: 0 8px;*/
/*}*/
/**/
/*#hyprland-workspaces button.focused {*/
/*  background-color: @color12;*/
/*  border-radius: 5px;*/
/*}*/

/*#workspaces button.visible {*/
/*  background-color: @color12;*/
/*}*/

/*#workspaces button {*/
/*  font-size: 5px;*/
/*}*/

#workspaces button.active {
  background-color: @color12;
}

#workspaces button.empty {
  /*TODO: do this better, so hovers dont change opacity*/
  opacity: 0.5;
}

#workspaces button.urgent {
  background-color: @color13;
}

/**/
/*#hyprland-workspaces button.urgent {*/
/*  color: #b8c0e0;*/
/*}*/
/**/
/*.custom-arrow {*/
/*  color: #b8c0e0;*/
/*  font-size: 18px;*/
/*  padding: 0;*/
/*  margin: 0 -6px;*/
/*}*/
/**/
/*#custom-pacman,*/
/*#cpu,*/
/*#memory,*/
/*#network,*/
/*#pulseaudio,*/
/*#bluetooth,*/
/*#custom-playerctl,*/
/*#clock {*/
/*  color: #b8c0e0;*/
/*}*/
/**/
/*#network.disconnected {*/
/*  color: #b8c0e0;*/
/*}*/
/*#pulseaudio.muted {*/
/*  color: #b8c0e0;*/
/*}*/
/*#temperature.critical {*/
/*  color: #b8c0e0;*/
/*}*/
/*#battery.critical:not(.charging) {*/
/*  color: #b8c0e0;*/
/*}*/
