@import "theme.css";

/*TODO: privacy*/

* {
  font-family: "JetBrains Nerd Font";
  font-size: 16px;
  min-height: 0;
  border-radius: 5px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.3);
  color: @foreground;
  border-radius: 0;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#pulseaudio,
#network,
#clock,
#custom-logo {
  padding-left: 8px;
  padding-right: 8px;
}

/*Special paddings to center icons*/
#pulseaudio,
#network,
#custom-logo {
  padding-right: 14px;
}

#pulseaudio.bluetooth {
  padding-right: 8px;
}
/*END Special paddings to center icons*/

#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-logo:hover {
  background-color: @color9;
}

#workspaces button {
  border: none;
  background: none;
  transition: none;
  text-shadow: none;

  color: @foreground;

  /*Reserve space for the border in active, so activating doesnt shift the text*/
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  border-radius: 0;
  border-bottom: 2px solid @color9;
}

#workspaces button:hover {
  background-color: @color9;
  border-radius: 5px;
}

#workspaces button.empty {
  /*TODO: do this better, so hovers dont change opacity*/
  opacity: 0.5;
}

#workspaces button.urgent {
  background-color: @color13;
}
